body {
    margin: 0;
    padding: 50px 0;
    font-family: var(--font-poppins);
    min-height: 100vh;
    background-color: var(--Very-Light-Gray);
}

:root {
    --font-poppins: 'Poppins', sans-serif;
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

.header {
    width: 360px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .header {
        width: 520px;
    }
}

.main {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

@media screen and (min-width: 768px) {
    .main {
        width: 750px;
        padding: 0 30px;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media screen and (min-width:1200px) {
    .main {
        width: 1200px;
        grid-template-columns: repeat(3, 1fr);
    }
}

.header__title {
    font-weight: 200;
    font-size: 1.6rem;
    color: var(--Very-Dark-Blue);
    line-height: 40px;
}

@media screen and (min-width:1200px) {
    .header__title {
        font-size: 2rem;
    }
}

.header__span {
    font-weight: 600;
}

.header__text {
    font-weight: 400;
    color: var(--Grayish-Blue);
    line-height: 25px;
}

@media screen and (min-width:1200px) {
    .header__text {
        font-size: .9rem;
        line-height: 23px;
    }
}

.box {
    width: 85%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);    
}

@media screen and (min-width:768px) {
    .box {
        width: 100%;
        margin-bottom: 0;
    }
}

@media screen and (min-width:1200px) {
    .box {
        width: 95%;
        margin-bottom: 20px;
        padding: 20px 30px;
    }
}

.box--cyan {
    border-top: 5px solid var(--Cyan);
}

@media screen and (min-width:1200px) {
    .box--cyan {
        position: relative;
        top: 150px;
    }
}

.box--red {
    border-top: 5px solid var(--Red);
}

.box--orange {
    border-top: 5px solid var(--Orange);
}

@media screen and (min-width:1200px) {
    .box--orange {
        grid-column: 2 / 3;
    }
}

.box--blue {
    border-top: 5px solid var(--Blue);
}

@media screen and (min-width:1200px) {
    .box--blue {
        position: relative;
        top: 150px;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}

.box__title {
    margin-bottom: 0;
    font-size: 1.3rem;
    color: var(--Very-Dark-Blue);
}

.box__subtitle {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: .9rem;
    font-weight: 400;
    color: var(--Grayish-Blue);
    line-height: 25px;
}

@media screen and (min-width:1200px) {
    .box__subtitle {
        width: 85%;
        font-size: .8rem;
    }
}

.box__img {
    display: block;
    margin-left: auto;
}